<!DOCTYPE html>
<html>

<head>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="stylesheet" type="text/css" media="screen" href="../css/login.css" />
</head>

<body>
    <h2>Create Store Attendant</h2>
    <div class="container">
        <label for="fname"><b>Firstname</b></label>
        <input type="text" placeholder="Enter Firstname" name="fname" required>


        <br><br><br><label for="Lname"><b>Lastname</b></label>
        <input type="text" placeholder="Enter Last name" name="Lname" required>

        <br><br><br><label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <br><br><br><label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <br><br><br><label for="psw"><b> Comfirm Password</b></label>
        <input type="password" placeholder="Comfirm Password" name="psw" required>

        <br><button type="submit">CREATE</button>

        </form>
</body>

</html>