<!DOCTYPE html>
<!-- <html lang="en"> -->

<head>
    <!-- <meta charset='UTF-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <script src="prefixfree-1.0.7.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css" />
<title>Store Manager</title>
</head>

<!-- <body> -->
    <!-- <div class="body"> -->
    <header>
        <div class="headerr">
            <div class="buttoned">
                    <a href="#" class="btin active">SALES</a>
                    <a href="#" class="btin active">INVENTORY</a>
                    <a href="#" class="btin active">LOG OUT</a>
                    <a href="#" class="btin active">CATEGORIES</a>
                    
                    
         </div>
            </div> 
                
        <section class="search-formi">
            <form action="" method="" name="search" role="search">
                <p class="inp-wrap search-wrap">
                    <label for="search-field" class="search-label grid-25">Find</label>
                    <input type="search" name="search-term" id="search-field" class="grid-75" placeholder="a product" /></p>
                    <p class="inp-wrap cat-wrap">
                    <label for="categories" class="grid-20">in</label>
                    <select name="search categories" id="categories" class="grid-80">
                        <option value="categories" selected>categories</option>
                        <option value="Food and Beverages" selected>Food and Beverages</option>
                        <option value="Gifts, sports and toys">Gifts, sports and toys</option>
                        <option value="Textile and accessories">Textile and accessories</option>
                        <option value="Health and Beauty">Health and Beauty</option>
                        <option value="Bags,shops and accessories">Bags,shops and accessories</option>
                        <option value="Electronics">Electronics</option>
                        <option value="Packaging, advertising and office">Packaging, advertising and office</option>
                    </select>
                    </p>
                                <p class="inp-wrap submit-wrap">
                                    <button class="grid-100 btn">
                                        <span class="search-icon-container">
                                        </span>
                                        Search
                                    </button>
                                </p>
                            <!-- </form> -->
                        <!-- </section> -->
                        </header>
                       
                <div class="sectiony">
                <section>
                <table>
                        <tr>
                        <th>Products/Inventory</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                    <tr>
                        <td>Phones</td>
                        <td>100</td>
                        <td>$10.00</td>
                    </tr>
                    <tr>
                        <td>Watches</td>
                        <td>0</td>
                        <td>$00.00</td>
                    </tr>
                    <tr>
                        <td>Shoes</td>
                        <td>10 </td>
                        <td>$15.00</td>
                    </tr>
                    <tr>
                        <td>Fridge</td>
                        <td>5 </td>
                        <td>$12.00</td>
                    </tr>
                    <tr>
                        <td>Computers</td>
                        <td>500 </td>
                        <td>$200.00</td>
                        </tr>
                        <tr>
                            <td>Books</td>
                            <td>1000 </td>
                            <td>$40.00</td>
                        </tr>
                        <tr>
                            <td>Laundry detergent</td>
                            <td>700 </td>
                            <td>$15.00</td>
                        </tr>
                        <tr>
                            <td>Sugar </td>
                            <td>500 </td>
                            <td>$100.00</td>
                        </tr>
                        <tr>
                            <td>Rice</td>
                            <td>5000 </td>
                            <td>$20.00</td>
                        </tr>
                </table>
                </section>
                </th>
            </body>

</body>
</div>



<footer class="footer">
    <div class="footerContainer">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
        <p class="copyright">© copyright 2018 Store Manager</p>
    
</footer>



</html> 