<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/login.css" />
</head>

<!-- <div class="body"> -->
</header>
<section>

    <body>

        <div class="upper">



            <div class="store">
                <!-- <h2> N&R STORE MANAGER</h2> -->
                <br><br><br>
                <h1>N&R STORE MANAGER</h1>
                <br><br><br>-is Web-Based App Solution to improve
                and help <br>store owners manage sales and product<br>
                Inventory records
            </div>


            <div class="here">
                <h4>LOGIN</h4>

                <div class="container">
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="RachealN" required="">

                    <br><label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="Racheal" required="">

                    <br><button type="submit"><a href="../index.html">Login</a></button>

                    <div class="container">

                        <span class="psw">Store Attendant <a href="register.html">Register</a></span>
                    </div>
                </div>
            </div>
</section>
</form>
</body>

</html>