<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/sign.css" />
</head>

<h2>REGISTER HERE</h2>
<div class="reg">
<!-- <h2>Register</h2> -->
</div>
<div class="here">
<div class="container">
        <br><label for="fname"><b>Firstname</b></label>
        <input type="text" placeholder="Enter Firstname" name="fname" required>

        <br><br><label for="Lname"><b>Lastname</b></label>
        <input type="text" placeholder="Enter Last name" name="Lname" required>

        <br><br><label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <br><br><label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <br><br><label for="psw"><b> Store Name</b></label>
        <input type="password" placeholder="Store Name" name="psw" required>

        <!-- <br><br><button type="submit"><a href="userlogin.html">Register</a></button> -->
        <button type="submit" class="button"><a href="userlogin.html">Register</a></button>
    </div>
    </div>
    </form>
</body>
</form>
</html>