<!DOCTYPE html>
<html>

<head>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="stylesheet" type="text/css" media="screen" href="../css/sign.css" />
</head>

<!-- <div class="body"> -->
</header>
<section>

    <body>
        <div class="contentwrapper">

        <div class="upper">


            <h2> LOGIN HERE</h2>
            <div class="here">
                <!-- <p>login here</p> -->
                <div class="container">
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname" required>

                    <br><label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>
                    </div>
                    <button type="submit" class="button"><a href="attendant.html">Login</a></button>
                   
                </div>
            </div>
        </section>
</body>

</html>